h1 {
    font-weight: 300;
    font-size: 30px;
    padding: 0 0 20px;
}

h2 {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 1.3em;
    color: #000;
    margin-block-start: 0;
    margin-block-end: 12px;
}

blockquote {
    padding-left: 12px;
    margin-left: -15px;
    font-weight: normal;
    border-style: none none none solid;
    border-width: 3px;
    border-color: #e06e73;
    margin-block-start: 0;
    margin-block-end: 0;
}

pre code {
    padding: 8px 10px;
    border-radius: 2px;
    overflow: auto;
    max-width: 600px;
    border: solid 1px #e0e0e0;
    font-family: Menlo, monospace;
}

code {
    padding: 3px 4px;
    border-radius: 2px;
    overflow: auto;
    max-width: 600px;
    border: solid 1px #e0e0e0;
    font-family: Menlo, monospace;
}

ul {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 5px;
}

ul li {
    text-decoration: none;
    list-style: none;
    text-indent: -0.35em;
}

ul li:before {
    content: "•";
    color: #e06e73;
    display: inline-block;
    margin-right: 0.3em;
}

ol {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 5px;
    counter-reset: ol;
}

ol li {
    text-decoration: none;
    list-style: none;
    text-indent: -1.35em;
}

ol li:before {
    content: counter(ol) ".";
    counter-increment: ol;
    color: #e06e73;
    text-align: right;
    display: inline-block;
    min-width: 1em;
    margin-right: 0.5em;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    color: #e06e73;
}