h1 {
    font-weight: 300;
    font-size: 30px;
    padding: 0 0 20px;
}

blockquote {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.0em;
    line-height: 1.8em;
}

h2 {
    margin-top: 18px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 0 0;
}

code {
    padding: 12px 10px;
    border-radius: 2px;
    overflow: auto;
    max-width: 600px;
    border: solid 1px #e0e0e0;
}

ul {
    padding: 8px;
    padding-inline-start: 18px;
}

li {
    margin: 8px 0;
}