$app-bar-height: 64px;

@font-face {
  font-family: CommonFont;
  src: url("~@/assets/font/San-Francisco-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: CommonFont;
  src: url("~@/assets/font/San-Francisco-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: CommonFont;
  src: url("~@/assets/font/San-Francisco-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: CommonFont;
  src: url("~@/assets/font/San-Francisco-Thin.ttf");
  font-weight: 300;
}

@mixin font() {
  font-family: "San Francisco Display", CommonFont, "PingFang", "SimSun-ExtB", sans-serif;
}